.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 870px;
}

.u-section-1 .u-shape-1 {
  width: 432px;
  height: 557px;
  background-image: none;
  margin: 98px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 780px;
  height: 673px;
  background-image: none;
  margin: -595px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 457px;
  object-position: 50% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  margin: -565px auto 0 28px;
}

.u-section-1 .u-group-1 {
  width: 525px;
  min-height: 622px;
  margin: -527px 30px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 50px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  font-family: Poppins;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 13px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 13px auto 0;
  padding: 10px 43px 10px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 100px;
  }

  .u-section-1 .u-shape-2 {
    height: 604px;
    margin-right: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 329px;
    height: 271px;
    margin-top: -546px;
    margin-left: 78px;
  }

  .u-section-1 .u-group-1 {
    width: 457px;
    margin-top: -235px;
    margin-right: 100px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-right: 92px;
    margin-left: -278px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
    margin-right: 247px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1399px;
  }

  .u-section-1 .u-shape-1 {
    width: 510px;
    height: 848px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    height: 1221px;
    width: 580px;
    margin-top: -886px;
    margin-right: 210px;
  }

  .u-section-1 .u-image-1 {
    width: 701px;
    height: 572px;
    margin-top: -1174px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 513px;
    margin-top: 98px;
    margin-right: 277px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -93px;
    margin-right: -85px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-right: -25px;
    margin-left: 25px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1338px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 300px;
  }

  .u-section-1 .u-shape-2 {
    width: 460px;
    height: 1172px;
    margin-right: 300px;
  }

  .u-section-1 .u-image-1 {
    width: 590px;
    height: 511px;
    margin-top: -1134px;
    margin-right: -50px;
  }

  .u-section-1 .u-group-1 {
    width: 406px;
    margin: 82px auto 25px 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -72px;
    margin-right: -55px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -11px;
    margin-right: 5px;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-1 .u-shape-1 {
    height: 555px;
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    height: 794px;
    margin-top: -397px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 294px;
    margin-top: -931px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 66px;
    margin-bottom: 55px;
    min-height: 677px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: -25px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 566px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 532px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
}

.u-section-2 .u-shape-1 {
  width: 77px;
  height: 77px;
  background-image: none;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 533px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 22px 32px 0 30px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 9px auto 0;
  padding: 11px 31px 11px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 25px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 560px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 666px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 760px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 172px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 170px;
  margin: 1px auto;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 101px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 698px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 90px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 336px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: 8px 9px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  margin: 8px 1px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: 8px 9px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  margin: 8px 1px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: 8px 9px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  margin: 8px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 277px;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(138, 193, 197) !important;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-icon-2 {
    color: rgb(138, 193, 197) !important;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 637px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 686px;
}

.u-section-5 .u-text-1 {
  margin: 28px 0 0;
}

.u-section-5 .u-image-1 {
  width: 574px;
  height: 574px;
  margin: 13px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: -587px 0 0 556px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 55px 0 60px 556px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 553px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 574px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 13px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-5 .u-text-3 {
    margin: 35px 68px 28px 89px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }
}