.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 216px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 20px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 60px;
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 60px;
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 60px;
}.u-section-6 .u-sheet-1 {
  min-height: 269px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 21px;
}.u-section-7 .u-sheet-1 {
  min-height: 218px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 21px;
}.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 60px;
}.u-section-9 .u-sheet-1 {
  min-height: 500px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 554px 0 0;
}

.u-section-9 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-6 {
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-4 {
    margin-right: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-4 {
    margin-right: 134px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-4 {
    margin-right: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 166px;
}

.u-section-10 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-10 .u-text-2 {
  margin: 20px 0;
}.u-section-11 .u-sheet-1 {
  min-height: 166px;
}

.u-section-11 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-11 .u-text-2 {
  margin: 20px 0;
}.u-section-12 .u-sheet-1 {
  min-height: 294px;
}

.u-section-12 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-12 .u-text-2 {
  margin: 20px 0;
}.u-section-13 .u-sheet-1 {
  min-height: 166px;
}

.u-section-13 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-13 .u-text-2 {
  margin: 20px 0;
}.u-section-14 .u-sheet-1 {
  min-height: 166px;
}

.u-section-14 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-14 .u-text-2 {
  margin: 20px 0;
}.u-section-15 .u-sheet-1 {
  min-height: 238px;
}

.u-section-15 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-15 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-15 .u-text-3 {
  margin: 20px 0 21px;
}.u-section-16 .u-sheet-1 {
  min-height: 166px;
}

.u-section-16 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-16 .u-text-2 {
  margin: 20px 0;
}