.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-1 .u-shape-1 {
  width: 432px;
  height: 557px;
  background-image: none;
  margin: 48px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 780px;
  height: 673px;
  background-image: none;
  margin: -595px auto 0 360px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -673px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 750px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 488px;
  height: 656px;
  object-position: 78.24% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  margin: 94px 0 -30px auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 750px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-1 .u-group-1 {
  width: 525px;
  min-height: 586px;
  margin: 64px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 50px 30px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  background-image: none;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-image: none;
  font-weight: 700;
  margin: 53px auto 0;
  padding: 10px 43px 10px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 160px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 673px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 551px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 673px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 35px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 49px;
    margin-left: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 22px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 403px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1285px;
  }

  .u-section-1 .u-shape-2 {
    height: 490px;
    margin-top: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1120px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 412px;
    height: 553px;
    margin-top: 26px;
    margin-bottom: -180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 736px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 455px;
    margin-top: 213px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 430px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 635px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 501px;
    width: 320px;
    margin-top: 126px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 601px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 499px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
}

.u-section-2 .u-shape-1 {
  width: 77px;
  height: 77px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 535px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 1px 2px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 11px 31px 11px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 25px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 514px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 2px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 658px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  width: 553px;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 272px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 224px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(138, 193, 197) !important;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(138, 193, 197) !important;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 515px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 806px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 1px;
  font-family: Poppins;
  font-weight: 600;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  width: 691px;
  margin: 18px auto 0;
}

.u-section-4 .u-image-1 {
  height: 482px;
  margin-top: 43px;
  margin-bottom: 59px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 105px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    height: 402px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.375rem;
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 274px;
  }
}