.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 571px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 20px 0 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: -12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 54px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 54px;
  }
}